$darkmode: true;
$primary: #4dd8e6;
$onPrimary: #00363b;
$primaryContainer: #004f56;
$onPrimaryContainer: #80f3ff;
$secondary: #b1cbce;
$onSecondary: #1c3437;
$secondaryContainer: #324b4e;
$onSecondaryContainer: #cde8eb;
$tertiary: #b8c6ea;
$onTertiary: #22304c;
$tertiaryContainer: #394765;
$onTertiaryContainer: #d6e2ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1011;
$background: #0F1011;
$onBackground: #e0e3e3;
$surface: #191c1d;
$onSurface: #e0e3e3;
$surfaceVariant: #3f494a;
$onSurfaceVariant: #bfc8ca;
$outline: #899293;
$shadow: #000000;
$inverseSurface: #e0e3e3;
$inverseOnSurface: #2e3131;
$inversePrimary: #006972;
