$darkmode: true;
$primary: #86da7a;
$onPrimary: #003a02;
$primaryContainer: #005304;
$onPrimaryContainer: #a0f793;
$secondary: #baccb2;
$onSecondary: #263423;
$secondaryContainer: #3c4b38;
$onSecondaryContainer: #d6e8cd;
$tertiary: #a0cfd3;
$onTertiary: #00363a;
$tertiaryContainer: #1e4d51;
$onTertiaryContainer: #bcebef;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F100F;
$background: #0F100F;
$onBackground: #e2e3dc;
$surface: #1a1c19;
$onSurface: #e2e3dc;
$surfaceVariant: #42493f;
$onSurfaceVariant: #c2c8bc;
$outline: #8c9387;
$shadow: #000000;
$inverseSurface: #e2e3dc;
$inverseOnSurface: #2f312d;
$inversePrimary: #186d1b;
