$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #1D02FF;
$secondary_paletteKeyColor: #7C7195;
$tertiary_paletteKeyColor: #896C9D;
$neutral_paletteKeyColor: #777683;
$neutral_variant_paletteKeyColor: #777685;
$background: #12121C;
$onBackground: #E3E1EF;
$surface: #12121C;
$surfaceDim: #12121C;
$surfaceBright: #383843;
$surfaceContainerLowest: #0D0D17;
$surfaceContainerLow: #1B1B25;
$surfaceContainer: #1F1F29;
$surfaceContainerHigh: #292934;
$surfaceContainerHighest: #34343F;
$onSurface: #E3E1EF;
$surfaceVariant: #464554;
$onSurfaceVariant: #C7C5D6;
$inverseSurface: #E3E1EF;
$inverseOnSurface: #302F3A;
$outline: #908F9F;
$outlineVariant: #464554;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C0C1FF;
$primary: #C0C1FF;
$onPrimary: #0F00AA;
$primaryContainer: #1900EB;
$onPrimaryContainer: #E1E0FF;
$inversePrimary: #3C3AFF;
$secondary: #CDC0E9;
$onSecondary: #342B4B;
$secondaryContainer: #4D4465;
$onSecondaryContainer: #EADFFF;
$tertiary: #DCBAF0;
$onTertiary: #3F2551;
$tertiaryContainer: #A485B8;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E1E0FF;
$primaryFixedDim: #C0C1FF;
$onPrimaryFixed: #06006C;
$onPrimaryFixedVariant: #1900EB;
$secondaryFixed: #E9DDFF;
$secondaryFixedDim: #CDC0E9;
$onSecondaryFixed: #1F1635;
$onSecondaryFixedVariant: #4B4263;
$tertiaryFixed: #F3DAFF;
$tertiaryFixedDim: #DCBAF0;
$onTertiaryFixed: #290F3B;
$onTertiaryFixedVariant: #573C69;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1A1A26;
$term1: #AA74FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #98AAD8;
$term5: #B29FEB;
$term6: #9DCEFF;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #D1B2FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #CFDCF8;
$term13: #E2D3FF;
$term14: #F8FAFF;
$term15: #E0E0FF;
