$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #0094FD;
$secondary_paletteKeyColor: #6C7698;
$tertiary_paletteKeyColor: #7272A5;
$neutral_paletteKeyColor: #717782;
$neutral_variant_paletteKeyColor: #707885;
$background: #0E141C;
$onBackground: #DDE3EE;
$surface: #0E141C;
$surfaceDim: #0E141C;
$surfaceBright: #343A43;
$surfaceContainerLowest: #090F16;
$surfaceContainerLow: #161C24;
$surfaceContainer: #1A2028;
$surfaceContainerHigh: #242A33;
$surfaceContainerHighest: #2F353E;
$onSurface: #DDE3EE;
$surfaceVariant: #404753;
$onSurfaceVariant: #BFC7D5;
$inverseSurface: #DDE3EE;
$inverseOnSurface: #2B313A;
$outline: #89919E;
$outlineVariant: #404753;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A1C9FF;
$primary: #A1C9FF;
$onPrimary: #00325B;
$primaryContainer: #004880;
$onPrimaryContainer: #D2E4FF;
$inversePrimary: #0060A8;
$secondary: #BBC5EA;
$onSecondary: #252F4D;
$secondaryContainer: #3B4665;
$onSecondaryContainer: #DAE2FF;
$tertiary: #C2C1F9;
$onTertiary: #2B2B59;
$tertiaryContainer: #8C8CC0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D2E4FF;
$primaryFixedDim: #A1C9FF;
$onPrimaryFixed: #001C38;
$onPrimaryFixedVariant: #004880;
$secondaryFixed: #DAE2FF;
$secondaryFixedDim: #BBC5EA;
$onSecondaryFixed: #0F1A37;
$onSecondaryFixedVariant: #3B4665;
$tertiaryFixed: #E2DFFF;
$tertiaryFixedDim: #C2C1F9;
$onTertiaryFixed: #161543;
$onTertiaryFixedVariant: #424271;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #131B25;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #75FCDD;
$term4: #87AED2;
$term5: #96A6EF;
$term6: #90D1F7;
$term7: #CCDBD5;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C7DFF4;
$term13: #D2D8FF;
$term14: #F7FBFF;
$term15: #D1E4FF;
